@font-face {
  font-family: "iconfont"; /* Project id 2846383 */
  src: url('https://at.alicdn.com/t/font_2846383_j7nik6nkd5.ttf?t=1643360234887') format('truetype');;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-wancheng:before {
  content: "\e603";
}

.icon-xiangzuo:before {
  content: "\eb15";
}

.icon-xiazai:before {
  content: "\e608";
}

.icon-you:before {
  content: "\e625";
}

.icon-zuo:before {
  content: "\e626";
}
